html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

:root {
  --sky: #f8f4e9;
  --red: #da0f0f;
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(215, 202, 202);
}

::-webkit-scrollbar-thumb {
  height: 60px;
  background: linear-gradient(var(--sky), var(--red));
  border-radius: 15px;
}

body {
  background: var(--sky);
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #70584f;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #51d8af;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

.mobile-nav-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  top: 7px;
  right: 20px;
  z-index: 999;
  position: fixed;
  outline: none !important;
}

/* Mobile Nav */
.mobile-navbar {
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  background-color: var(--sky);
  transition: left 0.3s ease;
  z-index: 1000;
  display: flex;
}

.mobile-navbar .nav-menu h1 a {
  color: #000;
  font-size: 26px;
  padding-left: 30px;
}

.mobile-navbar .nav-menu li:hover>a {
  border: transparent !important;
  background: transparent !important;
}

.mobile-navbar .nav-menu:hover>li {
  border: transparent !important;
  background: transparent !important;
}

.mobile-navbar.active {
  left: 0;
}

.mobile-navbar .nav-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 5px 0 0 0;
  margin: 0;
}

.mobile-navbar .nav-menu li {
  padding: 1px 15px;
  text-align: left;
}

.mobile-navbar .nav-menu li a {
  color: #1c1a1a;
  font-size: 16px;
  text-decoration: none;
}

/* Show mobile toggle button only on mobile screens */
@media (max-width: 768px) {
  .mobile-nav-toggle {
    display: block;
  }

  .mobile-navbar {
    display: block;
  }
}


.swiper {
  width: 100%;
  height: 100%;
  user-select: none;
}

#slider-menu-container .bg-cng {
  background-color: #fff !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--sky);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next:after {
  font-size: 25px !important;
  font-weight: 800 !important;
}

.mySwiper .swiper-button-prev:after,
.mySwiperr .swiper-button-prev:after {
  font-size: 25px !important;
  font-weight: 800 !important;
}

.swiper-button-next {
  color: var(--red) !important;
  font-weight: 800 !important;
  background: var(--sky);
  border-radius: 8px !important;
}

.swiper-button-prev {
  color: var(--red) !important;
  font-weight: 800 !important;
  background: var(--sky);
  border-radius: 8px !important;
}

.swiper-pagination-bullet-active {
  background: var(--sky) !important;

}

.button-cng {
  background-color: var(--sky);
  border-radius: 25px 25px;
}

.btn-close {
  background-color: var(--red) !important;
}

.btn-sky {
  background-color: var(--sky) !important;
  color: #000 !important;
  border: #fff;
}

.btn-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.btn-red {
  background-color: var(--red) !important;
  border: #000;
  width: 90%;
  font-weight: 700;
  border-radius: 8px;
  padding: 10px;
}

.btn-red a {
  color: #fff;
}

.btn-section:hover>.btn-red {
  background-color: #b81313 !important;
  color: #000 !important;
  transition: .6s;
}


.button-cng a {
  color: #000 !important;
}

.nav-menu li.button-cng:hover>a {
  border-radius: 25px 25px;
  border: 1px solid #e5cdc5;
  background: #baa9a9;
  color: #0a0a0a !important;
}

.view-all a {
  background-color: var(--red);
  padding: 10px 15px;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  border-radius: 25px;
}

.section-container .text-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.back-to-top {
  position: fixed;
  display: none;
  background: rgb(138 104 80);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 25px;
  transition: 0.5s;
}

.back-to-top:focus {
  background: #c0e226c7;
  color: #fff;
  outline: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.blank {
  height: 20px;
}

#header-slider {
  padding: 2px 10px;
  height: 16vh;
  background: #fff;
}

.header-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-slider .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#slider-menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cart-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cart-box img {
  width: 80px;
  height: 80px;
  border-radius: 50% 50%;
  object-fit: cover;
  background-repeat: no-repeat;
  border: 1px solid #000;
}

.slider-p {
  font-size: 13px;
  color: #000;
}

/* --------------- */

.header-cng {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  padding: 2px 20px;
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  background: var(--red);
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
  border-top: solid 2px #874317;
  position: sticky;
  top: -1px;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
}

#header #logo h1 {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 45px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#header #logo h1 img {
  width: 65px;
}

#header #logo h1 img.paintLook {
  width: 150px;
  backdrop-filter: drop-shadow(2px 4px 6px black);
}

#header #logo h1 a {
  color: var(--sky);
  line-height: 1;
  display: inline-block;
  font-size: 27px;
}

#header #logo h1 a span {
  color: #874317;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  #header {
    padding: 13px 0;
    height: 80px;
  }

  #header #logo h1 img {
    width: 55px;
  }

  #header #logo h1 {
    font-size: 34px;
    padding-left: 16px;
  }

  #header #logo img {
    max-height: 50px;
  }
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  position: relative;
  /* border-bottom: 3px solid #874317; */
}

#intro-img {
  width: 100%;
  height: 100%;
}

#intro-img img {
  width: 100%;
  aspect-ratio: 14/5;
  background-size: contain;
  background-repeat: no-repeat;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu>li {
  float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}


/* Nav Meu Container */

#nav-menu-container {
  float: right;
  margin: 0;
  padding: 0;
}

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 11px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }

  #header {
    height: 62px !important;
  }

  #mobile-nav-toggle {
    display: inline;

  }

  #mobile-nav-toggle i {
    color: #fff;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 8px 13px;
  text-decoration: none;
  display: inline-block;
  color: #ffece0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  border: 1px solid transparent;
}

.nav-menu li:hover>a {
  color: #cbb7b7;
  font-weight: 500;
  border-bottom: 2px solid #ffffff;
  /* background: rgb(202, 211, 220); */
}

.nav-menu li.dropdown-menus:hover>a {
  border: transparent !important;
  background-color: transparent !important;

}

.nav-menu>.menu-active>a {
  color: #ffffff;
}

.nav-menu>li {
  margin-left: 0;
}

.nav-menu ul {
  margin: 2px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover>a {
  color: #c5aaa0;
}

.nav-menu ul ul {
  margin: 0;
}

.navbar .menu-size li a {
  font-size: 17px;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  top: calc(100% + 30px);
  padding: 10px 10px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}


.section-header h2 {
  font-size: 30px;
  color: #bd3d0f;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 0;
  text-align: center;
}

.description {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #222121;
  padding: 10px 10px 3px 10px;
  font-size: 13px;
}

.price {
  padding: 5px 10px 3px 10px;
}

h4.title {
  font-size: 20px;
  padding-top: 10px;
  color: #171616 !important;
}


/* Hotel Section
--------------------------------*/
#hotel {
  padding: 20px 0;
}

.ser-wid {
  width: 19%;
  /* height: 55vh; */
  border-radius: 8px;
  overflow: hidden;
}

.ser-wid .box,
.ser-wid .box,
.box-cart {
  height: 100%;
  overflow: hidden;
}

.ser-wid .box-cart .text .icon-h {
  color: #fff;
  text-align: end;
  padding-right: 20px;

}

.ser-wid .box-cart .text {
  overflow: hidden;
  background-color: var(--sky);
}

.ser-wid .box-cart .img img:hover {
  transform: scale(1.05);
}

.ser-wid .box .img {
  height: 25vh !important;
  overflow: hidden;
}

.ser-wid .box .text {
  height: 30%;
  padding-bottom: 5px !important;
}

.ser-wid .box img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ser-wid .box-cart .img img {
  object-fit: cover;
  background-repeat: no-repeat;
  transition: .2s ease-out;
}

.service-row {
  padding: 10px 20px 20px 20px;
  justify-content: space-between;
  align-items: center;
}

.section-container {
  background-color: #fff;
  padding: 20px;

}

.section-container h2 {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}


#cab {
  padding: 20px 0;
}

#purohit {
  padding: 20px 0;
}

/* About Section
--------------------------------*/
#about {
  padding: 20px 30px 40px 30px;
}

#about p {
  font-size: 15px;
}

#about .about-img {
  overflow: hidden;
  display: flex;
  justify-content: center !important;
}

#about .about-img img {
  object-fit: cover;
  max-width: 95%;
  aspect-ratio: 16/8 !important;
  border-radius: 10px;
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }

  #about .about-img img {
    margin-left: 0;
    padding-bottom: 0;
  }
}

#about .content h2 {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}


#about .content h3 {
  color: #555;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#about .content p {
  line-height: 26px;
}

#about .content p.aling-cng,
#about .content p.aling-cng a {
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  padding: 0 0 15px 0 !important;
  text-align: right;
}

#about .content p:last-child {
  margin-bottom: 0;
}

#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #FF9800;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

.about-ul {
  margin-bottom: 0 !important;
}

.about-ul li {
  display: flex;
  gap: 5px;
}

.style-cng {
  font-weight: 500 !important;
  color: #b43128 !important;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  position: relative;
}

.footer .footer-top {
  background-color: color-mix(in srgb, var(--red), white 5%);
  padding-top: 50px;
}

.footer .footer-about .logo {
  line-height: 1;
  margin-bottom: 25px;
}

.footer .footer-about .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-about .logo span {
  color: var(--heading-color);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer .footer-about p {
  font-size: 14px;
}

.footer h4 {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 15px;
}

.footer h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: var(--accent-color);
  bottom: 0;
  left: 0;
}

.footer .footer-links {
  margin-bottom: 30px;
}


.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: var(--sky);
  display: inline-block;
  line-height: 1;
}

.color-cng {
  color: var(--sky);
}

.footer .footer-links ul a:hover {
  color: var(--accent-color);
}

.footer .footer-contact p {
  margin-bottom: 5px;
}

.footer .copyright {
  padding: 30px 0;
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .credits {
  margin-top: 5px;
  font-size: 13px;
}

.footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: color-mix(in srgb, var(--default-color), transparent 90%);
  color: var(--contrast-color);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  background: var(--accent-color);
  text-decoration: none;
}


@media (max-width: 767.5px) {
  .footer .footer-links {
    padding-top: 25px;
  }
}

@media screen and (min-width:345px) and (max-width:420.5px) {
  .social-media {
    top: 0px;
    left: 85% !important;
  }
}

@media screen and (min-width:420px) and (max-width:540.5px) {
  .social-media {
    top: 0px;
    left: 89% !important;
  }
}

@media screen and (min-width:540px) and (max-width:710.5px) {
  .social-media {
    top: 0px;
    left: 91% !important;
  }
}

@media screen and (min-width:710px) and (max-width:768.5px) {
  .social-media {
    width: 7%;
    top: 0px;
    left: 92% !important;
  }
}

@media screen and (min-width:768px) and (max-width:993.5px) {
  .social-media {
    text-align: right;
    width: 24%;
    top: 0;
    left: 73% !important;
  }
}
@media screen and (min-width:340px) and (max-width:767.5px) {
  .cng-foot{
    width: 50% !important;
  }
}

.row-foot {
  margin: 0 !important;
  position: relative;
}

.social-media {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.footer-map {
  width: 49% !important;
}

.footer-map iframe {
  width: 100%;
}

@media (max-width: 993px) {
  .footer .footer-links iframe {
    width: 90%;
  }

  .footer-map {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--red);
  color: var(--contrast-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  font-weight: 800;
  color: var(--contrast-cor);
  line-height: 0;
}

.scroll-top:hover {
  background-color: var(--contrast-color);
  color: var(--red);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}


/* ----- star----- */

.description-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.description-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description-icon i {
  font-size: 10px;
}

@media (max-width:510px) {
  .description {
    padding: 10px 3px !important;
  }
}


/* ----- blog ------ */
.ser-wid {
  background-color: var(--sky);
}

#blog {
  padding: 20px 0;
}

.bold {
  font-weight: 700;
}

.ser-wid .box-cart .blog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh !important;
}

#blog .image-div {
  border-radius: 8px;
  width: 92%;
  height: 92%;
  overflow: hidden;
}

#blog .para-text {
  font-weight: 600;
}

@media (max-width: 510px) {
  .pading-desk {
    padding: 3px 3px !important;
  }
}

@media (max-width: 456px) {
  .continue-booking {
    padding: 10px 6px !important;
  }

  .ser-wid .box-cart .blog {
    height: 28vh !important;
  }
}


/* ---- blog page ----- */
.blog-imgs {
  object-fit: cover;
}

.blog-imgs .intro-imgs {
  width: 100%;
  overflow: hidden;
}

.blog-imgs .intro-imgs img {
  width: 100%;
  aspect-ratio: 14/4 !important;
  object-fit: cover;
}

.text-center {
  text-align: center;
  font-weight: 800;
}

@media (max-width: 523px) {
  #about .about-img {
    height: 40vh !important;
  }
}

@media (max-width: 768px) {
  .blog-imgs .intro-imgs img#imgs {
    aspect-ratio: 14/6 !important;
  }
}

@media (max-width: 993px) {
  #about .about-img {
    display: flex;
    justify-content: center;
    width: 100% !important;
    height: 50vh;
  }

  #about .about-img img {
    width: 100% !important;
  }

  .mobile-padding {
    padding: 20px 10px !important;
  }
}

@media (min-width: 1400px) {
  #intro-img img {
    height: 70vh;
  }
}


/* --- hotel Booking ---- */


.hotel-info h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.hotel-info h2 i {
  font-size: 17px;
  font-weight: bold;
  color: #333;
}

.hotel-info .location {
  font-size: 16px;
  color: #777;
  margin-top: 10px;
}

.flex-hotel-head {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: flex-start;
}

.rating-box {
  color: #fff;
  width: 90px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating-score {
  font-size: 18px;
  padding: 10px 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: var(--red);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.rating-score i {
  color: var(--contrast-color);
  font-size: 17px;
  margin-left: 5px;
}

.rating-count {
  font-size: 13px;
  color: #333;
  background-color: #f7f7f7;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.hotel-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.hotel-tags .tag {
  display: inline-block;
  background-color: #eaeaea;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 14px;
}

.hotel-tags .wizard-member {
  background-color: #333;
  color: #fff;
}

.company-service {
  margin-top: 15px;
  color: #ff6f61;
  font-weight: bold;
  font-size: 14px;
}

.company-service i {
  margin-right: 5px;
}

.amenities {
  text-align: left;
  padding-top: 20px;
}

.amenities h3 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #333;
}

.amenities ul {
  list-style: none;
  padding: 0;
}

.amenities ul li {
  font-size: 16px;
  color: #322f2f;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.amenities ul li i {
  font-size: 20px;
  margin-right: 10px;
  color: var(--background-color);
}

.amenities .category-hotel .width-ameni {
  width: 33%;
}

.amenities .category-hotel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#booking {
  padding: 30px 0;
}

.hotelbook .container {
  background-color: #fff;
  padding: 40px 0px !important;
  display: flex;
  justify-content: center;
  gap: 20px;
}


.price-section {
  margin-bottom: 10px;
}

.booking-details {
  /* border: 1px solid #e8e7e7; */
  padding: 10px 20px;
  display: flex;
  align-items: center;
  color: #000;
  font-weight: 700;
}

.price-hotel {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  margin-left: 10px;
  font-size: 16px;
}

.discount {
  color: #ff5722;
  font-size: 16px;
  margin-left: 10px;
}

.taxes-fees {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.date-range,
.room-info {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}


.savings-section {
  margin-bottom: 10px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.savings-label {
  color: #000000;
  font-weight: 500;
}

.savings-amount {
  font-weight: bold;
  color: #000;
}

.taxes-included {
  font-size: 14px;
  color: #888;
}

.booking-system {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding-right: 10px;
}

.continue-booking {
  background-color: var(--red);
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.continue-booking a {
  color: #fff;
}

.continue-booking:hover {
  background-color: rgb(175, 28, 28);
}

.hotel-details {
  width: 45%;
}

.book-details {
  padding: 30px 20px;
  border-radius: 10px;
  background-color: var(--sky);
  width: 50%;
}

@media (max-width: 993px) {
  .hotelbook .container {
    flex-direction: column;
    padding: 20px 30px 40px 30px !important;
  }

  .hotel-details {
    width: 100% !important;
  }

  .book-details {
    width: 100%;
  }
}

@media screen and (min-width:993px) and (max-width:1140px) {
  .booking-details {
    padding: 10px 12px !important;
  }

  .book-details {
    padding: 30px 2px !important;
  }

  .price-section {
    padding-left: 14px;
  }
}

@media (max-width: 473px) {
  .amenities .category-hotel .width-ameni {
    width: 50%;
  }

  .booking-details {
    padding: 10px 3px !important;
  }
}

.blog {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.blog img {
  width: 100%;
  /* height: 35vh; */
  object-fit: cover;
  max-height: 35vh;
  border-radius: 10px;
}

.btn-blog {
  border-radius: 8px;
  background-color: var(--red);
}

.btn-blog a {
  color: #fff !important;
  padding: 10px 30px;
}

.btn-section:hover>.btn-blog {
  background-color: rgb(194, 35, 35);
  font-weight: 600;
}

.display-cng {
  justify-content: flex-start !important;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.counter-container {
  display: flex;
  align-items: center;
}

.counter-container input {
  width: 30%;
  outline: none;
  border: none !important;
}

.counter-container .button-person {
  display: flex;
  gap: 8px;
}

.counter-container .grp-ad {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter-container button {
  width: 30px;
  height: 30px;
  font-size: 16px;
  padding: 0;
}

.checkbox-cng label {
  margin: 0 !important;
}

.checkbox-cng {
  display: flex;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 13px !important;
}

.prasadFields {
  display: none;
  /* Hide the text fields by default */
}

.puja-intro {
  display: flex !important;
  gap: 5px;
}

#intro-img.puja-intro img {
  object-fit: cover;
  aspect-ratio: 16/14;
  width: 50%;
}

@media (max-width: 600px) {
  #intro-img.puja-intro img {
    aspect-ratio: 16/14 !important;
  }
}

#intro-img img.width-auto {
  aspect-ratio: auto !important;
  height: 50vh;
}

#swiper-width-cng {
  width: 100% !important;
}

#swiper-width-cng .swiper-width-imp {
  width: auto !important;
}